.flex {
    display: flex;
    height: 100%;
    width: 100%;
}

.search-area-container {
    width: 30%;
    background-color: rgb(42, 42, 42);
    border-right: solid white 3px;
}

.info-display-container {
    width: 70%;
    background-color: rgb(42, 42, 42);
}

.main-container {
    min-width: 800px;
}
